:root {

    /**
     * colors
     */

    --battleship-gray: hsl(0, 0%, 53%);
    --viridian-green: hsl(180, 98%, 31%);
    --silver-chalice: hsl(0, 0%, 69%);
    --mikado-yellow: hsl(47, 98%, 50%);
    --granite-gray: hsl(0, 0%, 40%);
    --independence: hsl(219, 20%, 32%);
    --spanish-gray: hsl(0, 0%, 61%);
    --oxford-blue: hsl(222, 46%, 17%);
    --black-coral: hsl(223, 8%, 44%);
    --eerie-black: hsl(210, 11%, 15%);
    --light-gray: hsl(0, 0%, 80%);
    --white-2: hsl(0, 0%, 98%);
    --white-1: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);

    --sectoin-margin: 100px;

    --ff-abril-fatface: 'Abril Fatface', cursive;
    --ff-comforter-brush: 'Comforter Brush', cursive;
    --ff-heebo: 'Heebo', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.special-h,
h2 {
    --jet: hsl(0, 0%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: auto;
}


.special-h {
    font-family: var(--ff-abril-fatface);
}

.special-paragraph {
    font-family: var(--ff-comforter-brush);
}

.main-title {
    width: fit-content;
    margin: 50px auto;
    text-align: center;
}



.main-title span:first-child {
    display: block;
    color: var(--mikado-yellow);
    font-size: 50px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .main-title span:first-child {
        font-size: 30px;
    }
}

.main-title span:last-child {
    font-size: 45px;
}

@media (max-width:767px) {
    .main-title span:last-child {
        font-size: 30px;
    }
}

/* Responsive Start  */

/* Mobile */
@media (min-width:550px) {
    .container {
        max-width: 540px;
    }
}

/* Small */
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        max-width: 1320px;
    }
}

/* Responsive End  */

body {
    font-family: 'Heebo', sans-serif;
}

/* Header Start  */
#header {
    width: 100%;
    display: flex;
    height: 100px;
    background-color: var(--viridian-green);
}

#header nav {
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1200px) {
    #header nav {
        padding: 20px;
    }
}

@media (max-width:991px) {
    #header {
        min-height: 450px;
    }

    #header nav {
        flex-direction: column;
        text-align: center;
    }

    #header nav ul {
        justify-content: center;
        flex-direction: column;
    }
}

#header .logo {
    color: #fff;
    font-size: 46px;
}

@media (max-width:991px) {
    #header .logo {
        margin-top: -20px;
        margin-bottom: 10px;
    }
}

#header nav ul {
    display: flex;
}

#header nav ul li a {
    color: #fff;
    margin-right: 2rem;
    font-weight: 700;
}

@media (max-width:991px) {
    #header ul {
        width: 100%;
    }

    #header ul li {
        border-bottom: 1px solid #fff;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    #header nav ul li a {
        margin-right: 0;
    }


}


#header nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

#header button {
    border: 2px solid #fff;
    color: var(--viridian-green);
    padding: 15px 30px;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width:991px) {
    #header button {
        font-size: 12px;
        padding: 8px 20px;


    }
}

#header button:hover {
    background-color: var(--viridian-green);
    color: white;
    transition: all .3s ease;

}

/* Header End  */

/* Home Start  */

#home {
    margin-top: var(--sectoin-margin);
}

#home .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

@media(max-width:767px) {
    #home .row {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

#home .row .info {
    margin-top: 50px;
}

@media(max-width:767px) {
    #home .row .info {
        margin-top: -50px;
    }
}

#home .row .info h2 {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 68px;
    font-weight: normal;
    line-height: 1.2;
}

@media(max-width:767px) {
    #home .row .info h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }
}

#home .row .info p {
    color: var(--black-coral);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 20px;
}

@media(max-width:767px) {
    #home .row .info h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }
}


#home .row .info .special-paragraph {
    color: var(--mikado-yellow);
    font-size: 50px;
    font-weight: 500;
}

@media(max-width:767px) {
    #home .row .info .special-paragraph {
        color: var(--mikado-yellow);
        font-size: 30px;
    }
}

#home .row img {
    width: 100%;
}

#home .btn-1 {
    border: 2px solid var(--viridian-green);
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--viridian-green);
    margin-right: 15px;
    transition: 0.3s;
}

#home .btn-1:hover {
    background-color: #fff;
    color: var(--viridian-green);
}

#home .btn-2 {
    border: 2px solid #ddd;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;

}

#home .btn-2:hover {
    color: var(--viridian-green);
    border-color: var(--viridian-green);
}

/* Home End  */

/* Destination Start  */
#destination .row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    #destination .row-1 {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

#destination .row-1 img {
    width: 100%;
    position: relative;
}

#destination .row-1 img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(hsla(222, 46%, 17%, 0), hsla(222, 46%, 17%, 0.7));
}

#destination .row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    #destination .row-2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        margin-bottom: 40px;
    }
}

#destination .row-2 img {
    width: 100%;
}

#destination .row-1 .img-box,
#destination .row-2 .img-box {
    position: relative;
    overflow: hidden;
}

#destination .row-1 .img-box::after,
#destination .row-2 .img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(222, 46%, 17%, 0), hsla(222, 46%, 17%, 0.7));
    opacity: 1;
    transition: 0.3s;
}

#destination .row-1 .img-box:hover img,
#destination .row-2 .img-box:hover img {
    scale: 1.1;
    transition: 0.5s;
}


#destination .row-1 .text,
#destination .row-2 .text {
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
}

#destination .row-1 .text .special-paragraph,
#destination .row-2 .text .special-paragraph {
    color: var(--mikado-yellow);
    font-size: 20px;
}

#destination .row-1 .text .special-h,
#destination .row-2 .text .special-h {
    color: #fff;
    font-size: 40px;
}

/* Destination End  */

/* Tours Start  */
#tours .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    flex-wrap: wrap;
}

@media (max-width:1200px) {
    #tours .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}

@media (max-width:767px) {
    #tours .row {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

#tours .row .box {
    background-color: #fff;
    box-shadow: 5px 5px 15px rgb(101 101 101 / 15%);
    border-radius: 10px;
    overflow: hidden;
}

#tours .row .box .top {
    position: relative;
}

#tours .row .box .top img {
    width: 100%;
}

#tours .row .box .top .time {
    position: absolute;
    top: 0;
    padding: 10px;
    margin: 10px;
    background-color: var(--mikado-yellow);
    color: #fff;
    text-align: center;
    border-radius: 6px;
}

#tours .row .box .top .time span {
    display: block;
}

#tours .tour-details {
    padding: 20px 30px;
}

#tours .price-and-rate {
    display: flex;
    color: white;
    font-size: 12px;
}

#tours .price-and-rate .price-card,
#tours .price-and-rate .rate-card {
    padding: 5px;
    border-radius: 6px;
}

#tours .price-and-rate .price-card {
    background-color: var(--viridian-green);
    margin-right: 20px;
}

#tours .price-and-rate .rate-card {
    background-color: var(--mikado-yellow);
}

#tours .text p {
    color: var(--granite-gray);
    font-weight: bold;
    margin: 20px 0;
}

#tours .location {
    color: var(--spanish-gray);
    font-size: 14px;
    margin-bottom: 20px;
}

/* Tours End  */

/* About  Start  */

#about-us {
    margin-top: 150px;
}

#about-us .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

@media (max-width:991px) {
    #about-us .row {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

#about-us .row .col>p {
    color: var(--battleship-gray);
    margin: 30px 0;
    line-height: 1.7;
}

#about-us .row .special-paragraph {
    color: var(--mikado-yellow);
    display: block;
    font-size: 40px;
}

#about-us .row .special-h {
    font-size: 40px;
}

#about-us img {
    max-width: 100%;
}

#about-us button {
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 30px;
    background-color: var(--viridian-green);
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

#about-us ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#about-us ul li h3 {
    margin-bottom: 10px;
    color: var(--granite-gray);
}

#about-us ul li p {

    color: var(--battleship-gray);
}

#about-us .icon {
    background-color: var(--viridian-green);
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    align-items: center;
    margin-right: 15px;
}

#about-us .icon i {
    font-size: 20px;
}

/* About End  */

/* Articles Start */
#articles .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    position: relative;
    margin-bottom: 100px;
}

@media (max-width:800px) {
    #articles .row {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

#articles .row .top .time span {
    display: block;
}

#articles .row .top .time {
    position: absolute;
    top: 0;
    padding: 10px;
    margin: 10px;
    background-color: var(--mikado-yellow);
    color: #fff;
    text-align: center;
    border-radius: 6px;
}

#articles .row .box {
    box-shadow: 5px 5px 15px rgb(101 101 101 / 15%);
}

#articles .row a img {
    max-width: 100%;
}

#articles .row .tour-details {
    padding: 25px;
}


#articles .row .admin-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

#articles .row .admin-details img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#articles .row .admin-details .name {
    font-size: 12px;
    color: var(--spanish-gray);
    margin-right: 50px;
}

#articles .row .admin-details span {
    display: block;
}



#articles .row .admin-details .name span:first-of-type {
    color: var(--granite-gray);
    font-weight: 500;
    font-size: 14px;
}

#articles .row .admin-details .name span:last-of-type {
    color: var(--spanish-gray);
    font-size: 12px;
}

#articles .row .admin-details .time {
    font-size: 12px;
    color: var(--spanish-gray);
}

#articles .row .box a p {
    margin: 20px 0;
    color: var(--granite-gray);
    font-weight: bold;
    transition: 0.3s;
}

#articles .row .box a:hover p {
    color: var(--viridian-green);

}

#articles .row .btn {
    text-align: right;
    color: var(--viridian-green);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#articles .row .btn:hover {
    color: black;
}

#articles .row .btn i {
    margin-left: 10px;
}

/* Articles End */


/* Footer Start  */
footer {
    background: url(../images/footer-bg.png) var(--oxford-blue);

}

footer .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding: 50px 0;
    column-gap: 50px;
}

@media (max-width:1050px) {
    footer .footer-top {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
    }
}

@media (max-width:767px) {
    footer .footer-top {
        grid-template-columns: 1fr;
        row-gap: 30px;
        text-align: center;
    }


}

footer .footer-top h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

footer .footer-top ul li {
    color: var(--light-gray);
    padding: 5px 0;
    font-size: 14px;
    transition: 0.3s;
}

footer .footer-top ul li:hover {
    color: #fff;
    transform: translateX(10px);
}

footer .footer-top .footer-list p {
    color: var(--light-gray);
    margin-bottom: 30px;
    font-size: 14px;
}

footer .footer-top .footer-list form {
    display: flex;
}

@media (max-width:767px) {
    footer .footer-top form {
        justify-content: center;
    }
}

footer .footer-top .footer-list form input[type="text"] {
    padding: 20px 10px;
    width: 300px;
    border: none;
    border-radius: 10px 0 0 10px;
    caret-color: var(--viridian-green);
}

footer .footer-top .footer-list form input[type="text"]::placeholder {
    color: var(--black);
}

@media (max-width:767px) {
    footer .footer-top .footer-list form input[type="text"] {
        width: 200px;
    }
}


footer .footer-top .footer-list form input[type="text"]:focus {
    outline: none;
}

footer .footer-top .footer-list form input[type="submit"] {
    background-color: var(--viridian-green);
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    color: #fff;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

@media (max-width:767px) {
    footer .footer-bottom {
        margin-top: -30px;
        flex-direction: column;
        padding-bottom: 200px;
    }

    footer .footer-bottom .social {
        margin-top: 10px;
    }
}


footer .footer-bottom .social {
    display: flex;
    margin-top: 20px;
}

footer .footer-bottom .social a {
    background-color: rgba(198, 198, 198, 0.2);
    margin: 5px;
    border-radius: 50%;
    padding: 8px;
    transition: 0.3s;
}

footer .footer-bottom .social a:hover {
    background-color: var(--viridian-green);
}

footer .footer-bottom .social i {
    color: var(--light-gray);
}

footer .footer-bottom h2 {
    color: #fff;
    font-size: 30px;
}

footer .footer-bottom p {
    color: var(--light-gray);
    font-size: 14px;
    text-decoration: underline;
}

/* Footer End  */